[Desktop Entry]
Type=Application
Name=Video4Linux Control Panel
Comment=A universal control panel for V4L2 devices
Exec=v4l2ucp
Categories=AudioVideo;X-AudioVideoTools;
Icon=v4l2ucp
